<h1>Eat like a local</h1>

{{> navbarpublic}}

<div>
    <p>Going on a trip and tired of tourist traps ? <br> We can help you find a perfect place to eat as recommended by
        the local community !
    </p>

    <br>

<<<<<<< HEAD
    <form action="/restaurant/city" method="post" class="get">
        <h2>Where are you going ? </h2>
        <select name="city">
            <option value="default">Choose a city</option>
        {{#each cities}}
            <option name="city" value="{{this}}">
                {{this}}
            </option>
         {{/each}}
        </select>   
        <button name="submit" value="submit" type="submit"> Go! </button>
    </form>
=======

>>>>>>> 8e3b85c14a5918f6d7cd0b29c3a6b7252b30a066

    {{> footersignup}}

</div>