<h1>Eat like a local</h1>

{{> navbarpublic}}

<div>
    <p>Going on a trip and tired of tourist traps ? <br> We can help you find a perfect place to eat as recommended by
        the local community !
    </p>

    <br>

    <form>
        <h2>Where are you going ? </p>
        <select name="Search">
        {{#each allRestaurants}}
            <option value="{{this.city}}">
                {{this.city}}
            </option>
         {{/each}}
        </select>   
        <a href=""><button type="submit">Search</button></a>
    </form>

    {{> footersignup}}

    {{!-- To delete if partials is OK --}}
    {{!-- <p>Are you a local and would love to recommend ? <br> Join our community and share with us your best spots !
    </p>

    <br> --}}
    {{!-- Link signup TBC --}}
    {{!-- <a href="/signup">Sign up !</a> --}}
</div>