<div class="top-window">
    <div class="card-title">
        <h1>Eat like a local</h1>
        <h3>Welcome</h3>
    </div>
    {{!-- {{> navbarpublic}} --}}
    <nav>
        <a id="navbar" href="/">Home</a>
        <a id="navbar" href="/restaurant">All restaurants</a>
        <a id="navbar" href="/auth/signin">Sign in</a>
    </nav>
</div>



<div class="homepage-photo">
    <p class="title-home">Going on a trip and tired of tourist traps ? <br> We can help you find a perfect place to eat
        as recommended by
        the local community !
    </p>

    <br>

    <form action="/restaurant/city" method="post" class="get">
        <h2 id="title-form">Where are you going ? </h2>
        <select name="city" style="width:40vw" style="height:10vh;">
            <option value="default">Choose a city</option>
            {{#each cities}}
            <option name="city" value="{{this}}">
                {{this}}
            </option>
            {{/each}}
        </select>
        <button id="search-city" name="submit" value="submit" type="submit"> Go! </button>
    </form>

</div>

<div class="footer-signup">
    <p>Are you a local and would love to recommend ? Join our community and share with us your best spots !
        <strong><a href="/auth/signup">Sign up !</a></strong>

    </p>
</div>