<div class="top-window">
    <div class="card-title">
        <h1>Eat like a local</h1>
        <h3>Home</h3>
    </div>
    {{!-- {{> navbarpublic}} --}}
    <nav>
        <a id="navbar" href="/">Home</a>
        <a id="navbar" href="/restaurant">All restaurants</a>
        <a id="navbar" href="/auth/signin">Sign in</a>
    </nav>
</div>



<div>
    <p>Going on a trip and tired of tourist traps ? <br> We can help you find a perfect place to eat as recommended by
        the local community !
    </p>

    <br>

    <form action="/restaurant/city" method="post" class="get">
        <h2>Where are you going ? </h2>
        <select name="city">
            <option value="default">Choose a city</option>
            {{#each cities}}
            <option name="city" value="{{this}}">
                {{this}}
            </option>
            {{/each}}
        </select>
        <button name="submit" value="submit" type="submit"> Go! </button>
    </form>

    {{!-- {{> footersignup}} --}}

</div>

<div class="footer-signup">
    <p>Are you a local and would love to recommend ? Join our community and share with us your best spots !
        <a href="/auth/signup">Sign up !</a>

    </p>
</div>