.btn-form {
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: black;
  color: #fff;
}

/* .btn-form:active {
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #fff;
  color: black;
} */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.input {
  border-radius: 1.5rem;
  width: 50vw;
  height: 30px;
  margin: 1%;
  padding: 0 10px;
}

textarea {
  border-radius: 1.5rem;
  width: 50vw;
  height: 100px;
  margin: 1%;
  padding: 10px;
  border: solid 2px;
}

label {
  line-height: 15px;
  margin: 1%;
}

form p {
  margin-top: 15px;
}

form p a {
  color: inherit;
  text-decoration: none;
}

form p a:hover {
  text-decoration: underline;
}

.is-hidden {
  display: none;
}
