/* NO COMMENT YET */
.no-com {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 10%;
}

.no-com p {
  padding-right: 10px;
}

/* TABLE COMMENTS */
table th {
  border-bottom: 1px solid black;
}

table {
  text-align: center;
  margin: 40px auto auto auto;
}

.manage-com {
  color: black;
  padding-right: 5px;
}

table td,
th {
  width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 30px;
}

.table-com {
  max-width: 40em;
  min-width: 40em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.com-edit {
  border-radius: 1.5rem;
  width: 50vw;
  height: 60px;
  margin: 1%;
  padding: 0 10px;
}

/* ADD COM ON THE PAGE OF ONE RESTO */

.add-com {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-com {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-top: 0;
}

.create-com button {
  margin: 15px 0 30px 0;
  width: 60px;
}

.one-resto-com {
  margin: 20px 0;
}
