<div class="footer-signup">
  <p>Are you a local and would love to recommend ? Join our community and share with us your best spots !
    <strong><a href="/auth/signup">Sign up !</a></strong>
  </p>
</div>