<nav>
    <a href="/index">Home</a>
    <a href="/all-destinations">All destinations</a>
    <a href="/all-restaurants">All restaurants</a>
    <a href="/signin">Sign in</a>
</nav>

{{!--
link to be completed --}}