<nav>
    <a href="/myprofile">Home</a>
    <a href="/myprofile/dashboard/create">Add a resto</a>
    <a href="/myprofile">My recommendations</a>
    <a href="/myprofile/dashbar/comment">My comments</a>

    <form id="logout-form" action="/auth/signout" method="POST">
    <button>Sign out</button>
    </form>
</nav>