<nav>
    <a href="/myprofile">Home</a>
    <a href="/myprofile/dashboard/create">Add a resto</a>
    <a href="/myprofile">My recommendations</a>
    <a href="/myprofile">My comments</a>
    <a href="/myprofile">Log out</a>
</nav>