<nav>
    <a href="/myprofile">Home</a>
    <a href="/myprofile/dashboard/create">Add a resto</a>
<<<<<<< HEAD
    <a href="/myprofile/dashboard">My recommendations</a>
    <a href="/myprofile/dashboard/comment">My comments</a>
    <a href="/myprofile">Log out</a>
=======
    <a href="/myprofile">My recommendations</a>
    <a href="/myprofile/dashbar/comment">My comments</a>

    <form id="logout-form" action="/auth/signout" method="POST">
    <button>Sign out</button>
    </form>
>>>>>>> d344fa876b34c21db1d2f13835bd6fce69fb3ebf
</nav>