<nav>
    <a href="/">Home</a>
    <a href="/all-destinations">All destinations</a>
    <a href="/restaurant">All restaurants</a>
    <a href="/auth/signin">Sign in</a>
</nav>

{{!--
link to be completed --}}