<nav>
    <a href="/myprofile">Home</a>
    <a href="/myprofile/restaurant">All restaurants</a>
    <a href="/myprofile/dashboard">My profile</a>

    <form id="logout-form" action="/auth/signout" method="POST">
        <button>Sign out</button>
    </form>
</nav>