<div class="top-window">
  <div class="card-title">
    <h1>Eat like a local</h1>
    <h4>Join us ! </h4>
  </div>
  {{!-- {{> navbarpublic}} --}}
  <nav>
    <a id="navbar" href="/">Home</a>
    <a id="navbar" href="/restaurant">All restaurants</a>
    <a id="navbar" href="/auth/signin">Sign in</a>
  </nav>
</div>

<form method="post" action="/auth/signup" class="form">
  <h2 class="title">Create your account:</h2>

  <label for="firstname" class="label is-hidden">First Name</label>
  <input class="input" type="text" id="firstname" name="firstname" value="Jean" placeholder="Fistname">
  <label for="lastname" class="label is-hidden">Last Name</label>
  <input class="input" type="text" id="lastname" name="lastname" value="Leroix" placeholder="Lastname">
  <label for="city" class="label is-hidden">City</label>
  <input class="input" type="text" id="city" name="city" value="Paris" placeholder="City">
  <label for="email" class="label is-hidden">Email</label>
  <input class="input" type="text" id="email" name="email" value="my@email.com" placeholder="Email" required>
  <label for="password" class="label is-hidden">Password</label>
  <input class="input" type="password" id="password" name="password" placeholder="Password" value="" required>
  <label for="picture" class="label is-hidden">
    Add a picture
    <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
  </label>
  <input class="is-hidden" type="file" id="picture" name="picture">
  <button class="btn-form">Join !</button>
</form>