<form method="post" action="/myprofile/dashboard/update/{{restaurantUpdate._id}}" class="form">
  <h1 class="title">Share a spot</h1>
  <label for="name" class="label">name</label>
  <input class="input" type="text" id="name" name="name" value="Darroco">
  <label for="streetname" class="label">address</label>
  <input class="input" type="text" id="streetname" name="streetname" value="5 rue Vivienne">
  <label for="city" class="label">city</label>
  <input class="input" type="text" id="city" name="city" value="Paris">
  <label for="country" class="label">country</label>
  <input class="input" type="text" id="country" name="country" value="France">
  {{!-- <label for="website" class="label">website link</label>
    <input class="input" type="text" id="website" name="website" value="https://www.daroco.fr/restaurant/daroco-bourse"> --}}
  <label for="description" class="label">Tell us why you love this place !</label>
  {{!-- <input class="input" type="text" id="description" name="description" value="Good food and lovely design"> --}}
  <textarea name="description" id="description" cols="30" rows="3"></textarea>
  <label for="genre" class="label">genre</label>
  <input class="input" type="text" id="genre" name="genre" value="Italian">
  <label for="price" class="label">price</label>
  <input class="input" type="text" id="price" name="price" value="€€">
  <label for="picture" class="label">
    choose a picture
    <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
  </label>
  <input class="is-hidden" type="file" id="picture" name="picture">
  <button class="btn">Share</button>
</form>